/.metadata/
/.recommenders/
Palindrome/.classpath
Palindrome/.project
Palindrome/.settings/
StringChainnedAsCircle/.classpath
StringChainnedAsCircle/.project
StringChainnedAsCircle/.settings/
StringChainnedAsCircle/bin/
